@model IEnumerable<MyAppCRUD.UserAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (!String.IsNullOrEmpty(TempData["Msg"] as String))
{
    <div class="alert alert-success">@TempData["Msg"]</div>
}
<table class="table">
    <tr>
        <th> Seq #</th>
        <th> Username</th>
        @if (User.Identity.IsAuthenticated)
        {
            <th>  Action </th>
        }
    </tr>
    @{int i = 1;}
@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.id }) |

            @if(User.IsInRole("Manager"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.id });
                    <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.id });
            }
        </td>


    </tr>
    i++;
}

</table>
